/*
* '/addtodos' page css style
*/

.Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddtodosPage {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddTodosHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}