/*
* '/addtodos' page css style
*/

.Wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.Container {
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 3px 2px;
}

.Header {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.CloseBtn {
    width: 21px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 121, 121);
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin-right: 5px;
}

.AddtodosBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}