/*Root Layout Style's*/

.Wrapper {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header*/
.header {
    width: 100%;
    height: 5%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

.Titles {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 5px;

    span {
        margin-left: 5px;
    }
}

.NavBar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: inherit;
    margin-left: 10%;
}

.NavItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98%;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0px 5px;
    padding: 0px 3px;

    &:hover {
        color: lightgray;
    }
}