/*
* '/chartodos' page CSS Style's
*/

/*layout.tsx css style code*/

.layoutwrapper {
    width: 100dvw;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chartodos_pagewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.chartodos_charname_pagewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    min-width: 380px;
    max-width: 400px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    color: black;
    background-color: rgb(220, 221, 225);
}