.charinfobox_container {
    width: 95%;
    max-width: 500px;
    height: 20%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

.charinfobox_charimage_area {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .charimage {
        width: 100px;
        height: 100%;
        z-index: 1;
    };
}

.charinfobox_chardata_buttons_area {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.charinfobox_chardata_area {
    width: 75%;
    max-width: 250px;
    height: 50%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chardatabox_chardata {
    width: 80%;
    max-width: 300px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 15px;
        font-weight: bold;
    }

    .worldicon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .charnamebox {
        width: 100%;
        height: 50%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .charlevelbox {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .charleveldata {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .charclassdata {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        img {
            margin-right: 5px;
        }
    }
}

.charinfobox_buttons_area {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
        width: 90%;
        height: 60%;
        font-size: 13px;
        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
    };
}

.charinfo_buttons_area_buttonbox {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmarkbtn_isadds_true {
    color: rgb(230, 230, 230);
    background-color: black;
    border-color: white;
}

.bookmarkbtn_isadds_false {
    color: black;
    background-color: rgb(210, 210, 210);
    border-color: black;
}

.registflag_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    svg {
        margin-right: 5px;
    }
}