
/*일일, 주간 컨텐츠 todoitem style's*/

.todoitem_checkbox_area {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .checkbox {
        width: 13px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid black;
        border-radius: 3px;
    };
}

.todoitem_children_area {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.todoitem_countbox {
    width: 25%;
    height: 50%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(53, 59, 72);
    border-radius: 5px;
}

/*보스 컨텐츠, todoitem style's*/